@import "../fonts/Inter-3.13/inter.css";
@import "../fonts/Montserrat-7.210/Montserrat.css";

* {
  min-height: 0;
  min-width: 0;
  box-sizing: border-box !important;
}

html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Inter", "Montserrat", sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #08080a;
}

.center-root {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 600px) {
  /* width */
  ::-webkit-scrollbar {
    width: 8px;
    height: 6px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: none;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #a5a5a5;
    border-radius: 4px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #a5a5a5;
  }
}

a {
  cursor: pointer;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

p,
.break-line {
  overflow-wrap: break-word;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-break: anywhere;
}

.none-styling {
  text-decoration: none !important;
}
